* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222222;
}
.banner {
  font-size: 5em;
  font-weight: 700;
  text-align: center;
}
.banner::before {
  content: "熬一宿";
  position: absolute;
  color: transparent;
  background-image: linear-gradient(to right, red, green, blue);
  background-clip: text;
  -webkit-background-clip: text;
  clip-path: circle(100px at 0% 50%);
  animation: move 5s infinite;
}
/* 下面设置圆形移动效果 */
@keyframes move {
  0% {
    clip-path: circle(100px at 0% 50%);
  }
  50% {
    clip-path: circle(100px at 100% 50%);
  }
  100% {
    clip-path: circle(100px at 0% 50%);
  }
}
