* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  background-color: #FFCC00;
}
.container {
  margin: 100px auto;
  width: 100px;
  display: flex;
  flex-direction: column;
}
.container a {
  background-color: red;
  filter: hue-rotate(calc(var(--i)*90deg));
  position: relative;
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  color: #fff;
  border: 4px solid #000;
}
.container a::before,
.container a::after {
  content: "";
  width: 10px;
  height: 4px;
  background-color: #fff;
  display: block;
  position: absolute;
  transform: skew(45deg);
  transition: all 0.5s linear;
}
.container a::before {
  top: -4px;
  left: 10%;
}
.container a::after {
  right: 10%;
  bottom: -4px;
}
.container a:hover::before {
  left: 80%;
  transition: all 0.5s linear;
}
.container a:hover::after {
  right: 80%;
  transition: all 0.5s linear;
}
