* {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
nav {
  height: 50px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li {
  line-height: 50px;
  position: relative;
  transition: all 1s ease;
  transform-style: preserve-3d;
}
nav li:hover {
  transform: rotateX(90deg);
  transition: all 1s ease;
}
nav li:hover a {
  background-color: #296a7a;
}
nav li a {
  padding: 0 10px;
  display: inline-block;
  height: 100%;
  background-color: #00ccff;
  font-weight: 700;
  text-decoration: none;
  transform: translateZ(25px);
}
nav li a:nth-child(2) {
  position: absolute;
  display: block;
  top: 0;
  background-color: #296a7a;
  transform: translateY(25px) rotateX(-90deg);
}
